---
layout: default
---

<div id="homepage" class="container" style="max-width: 960px; margin: 50px auto 0 auto; padding: 20px; text-align: center;">
  <!-- Circular Photo -->
  <div style="margin-bottom: 20px; margin-top: 100px;">
    <a href="/about">
      <img src="{{site.url}}{{site.baseurl}}/images/{{ site.data.pi[0].photo }}" alt="{{ site.data.pi[0].name }}" 
           style="width: 200px; height: 200px; border-radius: 50%; border: 2px solid #ddd;">
    </a>
  </div>

  <!-- Welcome Message -->
  <h2 style="font-family: Arial, sans-serif; margin-bottom: 40px;">Benjamin Colmey</h2>


  <!-- Welcome Message -->
  <h2 style="font-family: Arial, sans-serif; margin-bottom: 25px;">Welcome to my site!</h2>

  <!-- Social Media Links -->
  <div style="margin-bottom: 10px;">
    {% if site.data.pi[0].email %}
      <a href="mailto:{{ site.data.pi[0].email }}" target="_blank">
        <i class="fa fa-envelope-square" style="margin-right: 8px; font-size: 1.5em;"></i>
      </a>
    {% endif %}
    {% if site.data.pi[0].linkedin %}
      <a href="{{ site.data.pi[0].linkedin }}" target="_blank">
        <i class="fa fa-linkedin-square" style="margin-right: 8px; font-size: 1.5em;"></i>
      </a>
    {% endif %}
    {% if site.data.pi[0].scholar %}
      <a href="{{ site.data.pi[0].scholar }}" target="_blank">
        <i class="ai ai-google-scholar-square" style="margin-right: 8px; font-size: 1.5em;"></i>
      </a>
    {% endif %}
    {% if site.data.pi[0].github %}
      <a href="{{ site.data.pi[0].github }}" target="_blank">
        <i class="fa fa-github-square" style="margin-right: 8px; font-size: 1.5em;"></i>
      </a>
    {% endif %}
  </div>


  
  <!-- Navigation Links -->
  <nav>
    <ul style="list-style: none; padding: 0;">
      <li style="margin-bottom: 20px;">
        <a href="/About/" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #555;">
          👤 About Me
        </a>
      </li>
      <li style="margin-bottom: 20px;">
        <a href="/Research/" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #555;">
          🔬 Research
        </a>
      </li>
      <li style="margin-bottom: 20px;">
        <a href="/Blog/" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #555;">
          ✍️ Blog
        </a>
      </li>
      <li style="margin-bottom: 20px;">
        <a href="/CV/" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #555;">
          📄 CV
        </a>
      </li>
    </ul>
  </nav>
</div>
